* { box-sizing: border-box; }

html,
body { height: 100vh; }

body {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* SECTION ONE */
.section-one {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
}

.section-one .container { width: 52%; }

#nav {
  display: flex;
  align-items: center;
  padding: 8px 0 0 0;
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
  user-select: none;
}

#nav ul {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
}

#nav a {
  display: inline-block;
  padding: 12px 0 12px 20px;
  text-decoration: none;
  color: #F9FAF8;
}

#nav a:hover { text-decoration: underline; }

.section-one .content {
  display: flex;
  padding: 72px 0;
}

.text-etc {
  align-self: center;
  margin: 0 36px 0 0;
}

.hero-main-text {
  margin: 0 0 12px 0;
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary-text {
  margin: 0 0 12px 0;
  font-size: 18px;
  color: #E5E7EB;
}

.section-one button {
  padding: 8px 32px;
  font-weight: 600;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  color: #F9FAF8;
}

.section-one button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
  cursor: pointer;
}

.section-one .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  text-align: center;
  background-color: #FCFCFC70;
  color: #F9FAF8;
}

/* SECTION TWO */
.section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-two .container {
  padding: 36px 0;
  width: 52%;
}

.info-header {
  margin: 0 0 36px 0;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.section-two .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 0 36px 0;
}

.info {
  margin: 12px 24px;
  width: 156px;
}

.section-two .placeholder {
  height: 156px;
  margin: 0 auto 12px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

/* SECTION THREE */
.section-three {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;
  color: #1F2937;
}

.section-three .content {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: center;
  padding: 100px 88px;
  width: 52%;
}

.quote {
  margin: 0 0 8px 0;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.reference {
  margin: 0 0 0 auto;
  font-size: 24px;
  font-weight: 700;
}

/* SECTION FOUR */
.section-four {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-four .container {
  margin: 72px;
  padding: 48px 104px;
  width: 52%;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
}

.section-four .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-four .text { margin: 0 auto 0 0; }

.call-to-action {
  margin: 0 0 4px 0;
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.call-to-action-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.section-four button {
  flex: none;
  margin: 0 0 0 36px;
  padding: 8px 32px;
  font-weight: 600;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 8px;
  color: #F9FAF8;
}

.section-four button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
  cursor: pointer;
}

/* FOOTER */