*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 17.5rem;
  font: 16px / 1.5 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sign-up-button {
  padding: 0.5em 2em;
  position: relative;
  z-index: 1;
  font-weight: 900;
  background-color: #3882f6;
  border-radius: 0.4em;
  color: #f9faf8;
  cursor: pointer;
  transition: color 100ms linear;
}

.sign-up-button::before {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #f9faf8;
  border-radius: 0.4em;
  cursor: inherit;
  transition:
      transform
      200ms
      cubic-bezier(0.4, 0, 1, 1);
  transform: scale(0, 1);
}

.sign-up-button:focus {
  outline: 0.125em solid #f9faf8;
  outline-offset: 0.25em;
}

.sign-up-button:hover {
  color: #3882f6;
}

.sign-up-button:hover::before {
  transform: scale(1, 1);
}

.sign-up-button:active {
  background-color: #f9faf8;
  color: #1f2937;
} 

header {
  background-color: #1f2937;
}

header > div {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 62.5rem;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1rem;
  justify-content: space-between;
}

.nav span {
  margin: 0.25rem 0;
  font-size: 1.5em;
  font-weight: 900;
  color: #f9faf8;
}

.nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: inline-block;
  padding: 0.25em 0;
  position: relative;
  font-size: 1.125em;
  text-decoration: none;
  color: #e5e7eb;
}

.nav a::before {
  content: '';
  height: 0.125rem;
  position: absolute;
  bottom: 0.2rem;
  width: 100%;
  background-color: #e5e7eb;
  border-radius: 0.125em;
  transition: transform 250ms ease-out;
  transform: scale(0, 1);
}

.nav a:focus {
  border-radius: 0.125em;
  outline: 0.125em solid #e5e7eb;
  outline-offset: 0.125em;
}

.nav a:hover::before {
  transform: scale(1, 1);
}

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 6rem 0;
}

.hero div:first-of-type {
  flex: 1 1 18.75rem;
}

.hero h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 900;
  color: #f9faf8;
}

.hero p {
  margin: 0.5rem 0;
  font-size: 1.125em;
  color: #e5e7eb;
}

.hero button {
  border: transparent;
}

.hero div:last-of-type {
  display: flex;
  align-items: center;
  flex: 1 1 23.75rem;
  justify-content: center;
  height: 15.625rem;
  padding: 1rem;
  text-align: center;
  background-color: #6d747d;
  color: #f9faf8;
}

main {
  flex: 1;
}

.random-info {
  background-color: #fff;
  color: #1f2937;
}

.random-info div:only-child {
  margin: 0 auto;
  padding: 2rem;
  max-width: 62.5rem;
  text-align: center;
}

.random-info h2 {
  margin: 0 0 2rem 0;
  font-size: 2.25em;
  font-weight: 900;
}

.random-info ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  justify-content: center;
  margin: 0 0 4rem 0;
  padding: 0;
  list-style: none;
}

.random-info li {
  flex: 0 1 9.375rem;
}

.random-info figure {
  margin: 0;
}

.random-info figure div {
  height: 9.375rem;
  margin-bottom: 0.5rem;
  border: 0.25em solid #3882f6;
  border-radius: 0.8em;
}

.testimonial {
  background-color: #e5e7eb;
  color: #1f2937;
}

.testimonial figure {
  margin: 0 auto;
  padding: 7rem 2rem;
  max-width: 55rem;
}

.testimonial blockquote {
  margin: 0 0 1rem 0;
  font-size: 2.25em;
  font-style: italic;
  font-weight: 100;
}

.testimonial p {
  margin: 0;
}

.testimonial figcaption {
  font-size: 1.5em;
  font-weight: 900;
  text-align: right;
}

.call-to-action {
  padding: 5rem 2rem;
  color: #f9faf8;
}

.call-to-action > div {
  margin: 0 auto;
  padding: 2rem;
  max-width: 62.5rem;
  background-color: #3882f6;
  border-radius: 0.3em;
}

.call-to-action > div > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 50rem;
}

.call-to-action > div > div > div {
  flex: 1 1 15.625rem;
}

.call-to-action h2,
.call-to-action p {
  margin: 0;
}

.call-to-action button {
  border: none;
  box-shadow: inset 0 0 0 0.125em #f9faf8;
}

footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 1.5rem 2rem;
  background-color: #1f2937;
  color: #f9faf8;
}

footer p {
  margin: 0;
  text-align: left;
}

footer a {
  height: 2rem;
  text-decoration: none;
  border-radius: 50%;
  transition: transform 200ms ease-out;
}

footer a:focus {
  outline-offset: 0.25em;
  outline: 0.125em solid #f9faf8;
}

footer a:hover {
  transform: rotate(-36deg);
}

footer img {
  height: 100%;
}